body {
    background-color: #AA60C8;
    background: linear-gradient(0deg,rgba(170, 96, 200, 1) 0%, rgba(191, 96, 200, 1) 35%, rgba(96, 105, 200, 1) 99%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background-color: rgba(255, 255,255,0.1);
    color: aliceblue;
    padding: 25px 20px 45px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    box-shadow: 3px 3px 5px rgba(146, 94, 189, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 500px;
    min-width: 300px;
    width: 100%;
}

h2 {
    font-size: 30px;
    margin: 2px 0 25px;
    box-sizing: border-box;
}

input {
    background-color: rgba(102, 102, 102, 0.199);
    color: white;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border: solid rgba(209, 204, 204, 0.363) 0.5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input::placeholder {
    color: white;
    opacity: 0.8;
}

input:focus {
    outline: none; 
    border: 2px solid #cba7ff; 
    box-shadow: 0 0 5px #cba7ff; 
}

button {
    background-color: #ebbfe733;
    cursor: pointer;
    color: white;
    font-size: 19px;
    width: 100px;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(159, 157, 160, 0.322);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: #8b4fa3;
    border-color: #7c478f;
}

#temp {
    font-size: 40px;
    box-sizing: border-box;
    display: "none";
    color: rgba(255, 255, 255, 0.808);
}

#weather {
    font-size: 20px;
    box-sizing: border-box;
    display: none;
    color: rgba(255, 255, 255, 0.87);
}

#forecast {
    font-size: 20px;
    box-sizing: border-box;
    margin-top:45px;
    display: none;
    color: rgba(255, 255, 255, 0.808);
}

#weather-icon {
    width: 150px;  /* Muuttaa kuvan leveyden 200 pikseliksi */
    height: auto;
    box-sizing: border-box;
    display: none;
}

/* 📱 Mobiiliversio */
@media (max-width: 600px) {
    #weather-container {
        max-width: 90%;
        min-width: unset;
        padding: 20px 15px 40px;
    }

    h2 {
        font-size: 29px;
    }

    input {
        font-size: 14px;
        height: 35px;
    }

    button {
        font-size: 16px;
        width: 100%;
        padding: 10px;
    }

}
